<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CompleteAssignments</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>assignment.servletExample.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataUpdateTable</display-name>
    <servlet-name>DataUpdateTable</servlet-name>
    <servlet-class>assignment.servletExample.DataUpdateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataUpdateTable</servlet-name>
    <url-pattern>/DataUpdateTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataInsertTable</display-name>
    <servlet-name>DataInsertTable</servlet-name>
    <servlet-class>assignment.servletExample.DataInsertTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataInsertTable</servlet-name>
    <url-pattern>/DataInsertTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>assignment.servletExample.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>assignment.servletExample.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>assignment.servletExample.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
</web-app>